@import "../../../styles/styles";

.join-tjoose{
  width: 100%;
  text-align: center;
  color: $primar-font-color;

  .pin{
    margin-top: $margin-from-header;
    width: 100%;
    text-align: center;
    .standard-input{
      margin: auto;
      display: block;
    }
    .green-button{
      margin: auto;
      margin-top: 35px;
      display: block;
      width: 185px;
    }
  }
}
