/* You can add global styles to this file, and also import other style files */
@import "common/variables";
@import "vendor/material-themes";
@import "common/buttons";
@import "common/input";
@import "common/animations";

html, body {
  height: 100%;
  background-color: $primary-color;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.load-main{
  width: 100%;
  text-align: center;
  margin-top: 25vh;
}
