.green-button{
  width: 135px;
  height: 45px;
  margin-left: 30px;
  marin-right: 30px;
  font-size: 18px;
  color: $button-font-color;
  background-color: $green-button-color;
  border: 2px solid $green-button-color;
  border-radius: 10px;
}

.blue-button{
  width: 135px;
  height: 45px;
  margin-left: 30px;
  marin-right: 30px;
  font-size: 18px;
  color: $button-font-color;
  background-color: $blue-button-color;
  border: 2px solid $blue-button-color;
  border-radius: 10px;
}
