.standard-input{
  border: 2px solid $primar-font-color;
  height: 50px;
  width: 185px;
  text-align: center;
  font-size: 18px;
  color: $primar-font-color;
}


.form-input{
  display: block;
  margin-bottom: 15px;
}
