.header{
  margin-top: 5vh;
  height: 200px;
  width: 100%;
  text-align: center;

  .main-logo{
    width: 275px;
    height: auto;
    &:hover{
      cursor: pointer;
    }
  }

  .sub-header{
    margin-top: -15px;
    font-size: 18px;
  }
}
