@import "../../styles/styles";

.home{
  width: 100%;
  text-align: center;
  color: $primar-font-color;

  .buttons{
    margin-top: $margin-from-header;
    button{
      margin-left: 35px;
      margin-top: 15px;
      margin-right: 35px;
    }
  }
}
