@import "../../styles/styles";

.home{
  width: 100%;
  text-align: center;
  margin-top: 25vh;
  color: $primar-font-color;

  .main-logo{
    width: 275px;
    height: auto;
  }

  .sub-header{
    margin-top: -15px;
    font-size: 18px;
  }

  .buttons{
    margin-top: 75px;
  }
}
